Repository Geoplateforme/plugin-qgis-gpf-isochrone-isodistance-itineraire, pull requests merged in 2025-04, with the labels that each got.

#1 fix(ci): install pytest and packaging with apt instead of pip
  .github/workflows/tester.yml
  docs/development/environment.md
  docs/static/dev_qgis_enable_plugin.png
  docs/static/dev_qgis_set_pluginpath_envvar.png
Labels: documentation, ci-cd

#2 feat(isochrone): init processing
  docs/development/environment.md
  gpf_isochrone_isodistance_itineraire/gui/dlg_settings.py
  gpf_isochrone_isodistance_itineraire/plugin_main.py
  gpf_isochrone_isodistance_itineraire/processing/isochrone.py
  gpf_isochrone_isodistance_itineraire/processing/provider.py
Labels: documentation, UI/UX

#3 feat(isochrone): define parameters from expression
  .github/labeler.yml
  gpf_isochrone_isodistance_itineraire/processing/isochrone.py
Labels: ci-cd

#4 feat(getcap): test if isochrone available for service and resources
  gpf_isochrone_isodistance_itineraire/constants.py
  gpf_isochrone_isodistance_itineraire/gui/dlg_settings.py
  gpf_isochrone_isodistance_itineraire/gui/dlg_settings.ui
  gpf_isochrone_isodistance_itineraire/processing/get_capabities_parser.py
  gpf_isochrone_isodistance_itineraire/processing/isochrone.py
  gpf_isochrone_isodistance_itineraire/toolbelt/preferences.py
Labels: UI/UX

#6 feat(getcap): check direction and cost type
  gpf_isochrone_isodistance_itineraire/processing/get_capabities_parser.py
  gpf_isochrone_isodistance_itineraire/processing/isochrone.py
Labels: enhancement

#9 feat(isochrone): check input crs and apply transformation if needed
  gpf_isochrone_isodistance_itineraire/processing/get_capabities_parser.py
  gpf_isochrone_isodistance_itineraire/processing/isochrone.py
Labels: enhancement

#14 fix(plugin): Qt6 flag is supportsQt6 not qt6_compatible
  gpf_isochrone_isodistance_itineraire/metadata.txt
Labels: bug, packaging

#11 feat(getcap): use local cache to store getcap for a service url
  gpf_isochrone_isodistance_itineraire/gui/dlg_settings.py
  gpf_isochrone_isodistance_itineraire/gui/dlg_settings.ui
  gpf_isochrone_isodistance_itineraire/processing/get_capabities_parser.py
  gpf_isochrone_isodistance_itineraire/toolbelt/application_folder.py
  gpf_isochrone_isodistance_itineraire/toolbelt/cache_manager.py
  gpf_isochrone_isodistance_itineraire/toolbelt/file_stats.py
  tests/qgis/test_get_capabilities_parser.py
Labels: enhancement, quality, UI/UX

#13 fix(bbox): need to convert resource bbox to input crs
  gpf_isochrone_isodistance_itineraire/processing/gpf_iso_service.py
Labels: bug

#16 feat(isoservice): add widget to use isoservice
  gpf_isochrone_isodistance_itineraire/gui/wdg_iso_service.py
  gpf_isochrone_isodistance_itineraire/gui/wdg_iso_service.ui
  gpf_isochrone_isodistance_itineraire/plugin_main.py
  gpf_isochrone_isodistance_itineraire/processing/get_capabities_parser.py
  gpf_isochrone_isodistance_itineraire/toolbelt/processing_feedback.py
  gpf_isochrone_isodistance_itineraire/toolbelt/txt_processing_run.py
  gpf_isochrone_isodistance_itineraire/toolbelt/wdg_point_selection.py
  gpf_isochrone_isodistance_itineraire/toolbelt/wdg_point_selection.ui
Labels: enhancement, UI/UX

#15 Release: 0.2.0 beta1
  CHANGELOG.md
  gpf_isochrone_isodistance_itineraire/metadata.txt
Labels: documentation
